<a href="https://colab.research.google.com/github/Nhat260501/Tuan2/blob/main/13_02_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
value1 = input('Nhập vào số thứ nhất :')

Nhập vào số thứ nhất :2

In [ ]:
value2 = input('Nhập vào số thứ hai :')

Nhập vào số thứ hai :3

In [ ]:
value1 + value2

'23'

In [ ]:
value1 = int(value1)
value2 = int(value2)

In [ ]:
with open('text.txt',mode='w') as accounts: # Tạo file text mới (cách 1)
  accounts.write('19146367 Lâm Duy Nhật 10\n') # Nội dung trong file text

In [ ]:
with open('text1.txt',mode='w') as accounts: # Tạo file text mới (cách 2)
  print('19146367 Lâm Duy Nhật',file = accounts)

In [ ]:
import pandas as pd
url = 'data1.csv'
dataframe = pd.read_csv(url)
dataframe.head(21)

    STT       MSSV                  NAME                 KHOA  Diem
0     1   19146367          Lam Duy Nhat    Co Khi Ch Tao May    10
1     2   19146303        Nguyen Tuan An    Co Khi Ch Tao May     6
2     3   19146203      Pham Thanh Cuong    Co Khi Ch Tao May     7
3     4   19146267        Tran Quoc Dat     Co Khi Ch Tao May    10
4     5   20147380       Luu Hoang Khang  Cong Nghe Thong Tin     5
5     6   21370134       Nguyen Bao Tien  Cong Nghe Thong Tin     7
6     7   20169769         Tran Hoai Nam  Cong Nghe Thong Tin     8
7     8   19136589      Luong Dinh Thong  Cong Nghe Thong Tin     9
8     9   20368664         Phan Huy Tai   Cong Nghe Thong Tin     3
9    10   21883044        Trinh Van Kiet  Cong Nghe Thong Tin     4
10   11   20866441     Nguyen Thanh Cong         Dien Dien Tu     5
11   12   20386645  Nguyen Vo Trung Truc         Dien Dien Tu     7
12   13   20186488         Vo Hoai Khanh         Dien Dien Tu     8
13   14  201314638         Tran Duc Toan         Dien Dien Tu     9
14   15  210746693         Pham Tan Luan         Dien Dien Tu    10
15   16  210937548      Nguyen Dinh Khoi             Xay Dung     5
16   17  193749879        Tran Trong Duc             Xay Dung     4
17   18  210388844        Quach Thanh Vu             Xay Dung     6
18   19  208847711        Luu Nhat Thong             Xay Dung     8
19   20  210093774         Cao Thanh Tam             Xay Dung     9

In [ ]:
dataframe.iloc[3]

STT                     4
MSSV             19146267
NAME       Tran Quoc Dat
KHOA    Co Khi Ch Tao May
Diem                   10
Name: 3, dtype: object

In [ ]:
dataframe = dataframe.set_index(dataframe['NAME'])
dataframe.loc['Lam Duy Nhat']

STT                     1
MSSV             19146367
NAME         Lam Duy Nhat
KHOA    Co Khi Ch Tao May
Diem                   10
Name: Lam Duy Nhat, dtype: object

In [ ]:
dataframe[dataframe['NAME']=='Trinh Van Kiet'].head(10)

                STT      MSSV            NAME                 KHOA  Diem
NAME
Trinh Van Kiet   10  21883044  Trinh Van Kiet  Cong Nghe Thong Tin     4

In [ ]:
dataframe[dataframe['KHOA']=='Co Khi Ch Tao May'].count()

STT     4
MSSV    4
NAME    4
KHOA    4
Diem    4
dtype: int64

In [ ]:
dataframe[dataframe['Diem']==9].head(5)

                  STT       MSSV              NAME                 KHOA  Diem
NAME
Luong Dinh Thong    8   19136589  Luong Dinh Thong  Cong Nghe Thong Tin     9
Tran Duc Toan      14  201314638     Tran Duc Toan         Dien Dien Tu     9
Cao Thanh Tam      20  210093774     Cao Thanh Tam             Xay Dung     9

In [ ]:
dataframe[(dataframe['KHOA']=='Co Khi Ch Tao May') & (dataframe['Diem']==6)]

                STT      MSSV            NAME               KHOA  Diem
NAME
Nguyen Tuan An    2  19146303  Nguyen Tuan An  Co Khi Ch Tao May     6

In [ ]:
dataframe['KHOA'].replace('Co Khi Ch Tao May','CKM').head(10)

NAME
Lam Duy Nhat                        CKM
Nguyen Tuan An                      CKM
Pham Thanh Cuong                    CKM
Tran Quoc Dat                       CKM
Luu Hoang Khang     Cong Nghe Thong Tin
Nguyen Bao Tien     Cong Nghe Thong Tin
Tran Hoai Nam       Cong Nghe Thong Tin
Luong Dinh Thong    Cong Nghe Thong Tin
Phan Huy Tai        Cong Nghe Thong Tin
Trinh Van Kiet      Cong Nghe Thong Tin
Name: KHOA, dtype: object

In [ ]:
dataframe.replace('Cong Nghe Thong Tin','IT').head(10)

                  STT      MSSV              NAME               KHOA  Diem
NAME
Lam Duy Nhat        1  19146367      Lam Duy Nhat  Co Khi Ch Tao May    10
Nguyen Tuan An      2  19146303    Nguyen Tuan An  Co Khi Ch Tao May     6
Pham Thanh Cuong    3  19146203  Pham Thanh Cuong  Co Khi Ch Tao May     7
Tran Quoc Dat       4  19146267    Tran Quoc Dat   Co Khi Ch Tao May    10
Luu Hoang Khang     5  20147380   Luu Hoang Khang                 IT     5
Nguyen Bao Tien     6  21370134   Nguyen Bao Tien                 IT     7
Tran Hoai Nam       7  20169769     Tran Hoai Nam                 IT     8
Luong Dinh Thong    8  19136589  Luong Dinh Thong                 IT     9
Phan Huy Tai        9  20368664     Phan Huy Tai                  IT     3
Trinh Van Kiet     10  21883044    Trinh Van Kiet                 IT     4

In [ ]:
print('Điểm cao nhất:',dataframe['Diem'].max())

Điểm cao nhất: 10

In [ ]:
print('Điểm thấp nhất:',dataframe['Diem'].min())

Điểm thấp nhất: 3

In [ ]:
print('Điểm trung bình:',dataframe['Diem'].mean())

Điểm trung bình: 7.0

In [ ]:
print('Điểm tổng:',dataframe['Diem'].sum())

Điểm tổng: 140

In [ ]:
print('Số Lượng:',dataframe['Diem'].count())

Số Lượng: 20

In [ ]:
dataframe['KHOA'].unique()
dataframe['KHOA'].value_counts()

Cong Nghe Thong Tin    6
Dien Dien Tu           5
Xay Dung               5
Co Khi Ch Tao May      4
Name: KHOA, dtype: int64

In [ ]:
dataframe.drop('MSSV',axis=1).head(10) #chỉ mất dữ liệu tạm thời chứ ko mất trên file gốc, muốn mất trên file gốc thì ta phải load lại

                  STT              NAME                 KHOA  Diem
NAME
Lam Duy Nhat        1      Lam Duy Nhat    Co Khi Ch Tao May    10
Nguyen Tuan An      2    Nguyen Tuan An    Co Khi Ch Tao May     6
Pham Thanh Cuong    3  Pham Thanh Cuong    Co Khi Ch Tao May     7
Tran Quoc Dat       4    Tran Quoc Dat     Co Khi Ch Tao May    10
Luu Hoang Khang     5   Luu Hoang Khang  Cong Nghe Thong Tin     5
Nguyen Bao Tien     6   Nguyen Bao Tien  Cong Nghe Thong Tin     7
Tran Hoai Nam       7     Tran Hoai Nam  Cong Nghe Thong Tin     8
Luong Dinh Thong    8  Luong Dinh Thong  Cong Nghe Thong Tin     9
Phan Huy Tai        9     Phan Huy Tai   Cong Nghe Thong Tin     3
Trinh Van Kiet     10    Trinh Van Kiet  Cong Nghe Thong Tin     4

In [ ]:
dataframe.drop(['MSSV','KHOA'],axis=1).head(40)

    STT                  NAME  Diem
0     1          Lam Duy Nhat    10
1     2        Nguyen Tuan An     6
2     3      Pham Thanh Cuong     7
3     4        Tran Quoc Dat     10
4     5       Luu Hoang Khang     5
5     6       Nguyen Bao Tien     7
6     7         Tran Hoai Nam     8
7     8      Luong Dinh Thong     9
8     9         Phan Huy Tai      3
9    10        Trinh Van Kiet     4
10   11     Nguyen Thanh Cong     5
11   12  Nguyen Vo Trung Truc     7
12   13         Vo Hoai Khanh     8
13   14         Tran Duc Toan     9
14   15         Pham Tan Luan    10
15   16      Nguyen Dinh Khoi     5
16   17        Tran Trong Duc     4
17   18        Quach Thanh Vu     6
18   19        Luu Nhat Thong     8
19   20         Cao Thanh Tam     9

In [ ]:
dataframe.drop(dataframe.columns[2:4],axis=1).head(10) # xoá cột 2,3

                  STT      MSSV  Diem
NAME
Lam Duy Nhat        1  19146367    10
Nguyen Tuan An      2  19146303     6
Pham Thanh Cuong    3  19146203     7
Tran Quoc Dat       4  19146267    10
Luu Hoang Khang     5  20147380     5
Nguyen Bao Tien     6  21370134     7
Tran Hoai Nam       7  20169769     8
Luong Dinh Thong    8  19136589     9
Phan Huy Tai        9  20368664     3
Trinh Van Kiet     10  21883044     4

In [ ]:
dataframe.drop(dataframe.columns[2:5],axis=1).head(10)

                  STT      MSSV
NAME
Lam Duy Nhat        1  19146367
Nguyen Tuan An      2  19146303
Pham Thanh Cuong    3  19146203
Tran Quoc Dat       4  19146267
Luu Hoang Khang     5  20147380
Nguyen Bao Tien     6  21370134
Tran Hoai Nam       7  20169769
Luong Dinh Thong    8  19136589
Phan Huy Tai        9  20368664
Trinh Van Kiet     10  21883044

In [ ]:
dataframe[dataframe['KHOA']!='Xay Dung'].head(40)

,STT,MSSV,NAME,KHOA,Diem
NAME,,,,,
Lam Duy Nhat,1,19146367,Lam Duy Nhat,Co Khi Ch Tao May,10
Nguyen Tuan An,2,19146303,Nguyen Tuan An,Co Khi Ch Tao May,6
Pham Thanh Cuong,3,19146203,Pham Thanh Cuong,Co Khi Ch Tao May,7
Tran Quoc Dat,4,19146267,Tran Quoc Dat,Co Khi Ch Tao May,10
Luu Hoang Khang,5,20147380,Luu Hoang Khang,Cong Nghe Thong Tin,5
Nguyen Bao Tien,6,21370134,Nguyen Bao Tien,Cong Nghe Thong Tin,7
Tran Hoai Nam,7,20169769,Tran Hoai Nam,Cong Nghe Thong Tin,8
Luong Dinh Thong,8,19136589,Luong Dinh Thong,Cong Nghe Thong Tin,9
Phan Huy Tai,9,20368664,Phan Huy Tai,Cong Nghe Thong Tin,3
Trinh Van Kiet,10,21883044,Trinh Van Kiet,Cong Nghe Thong Tin,4
Nguyen Thanh Cong,11,20866441,Nguyen Thanh Cong,Dien Dien Tu,5
Nguyen Vo Trung Truc,12,20386645,Nguyen Vo Trung Truc,Dien Dien Tu,7
Vo Hoai Khanh,13,20186488,Vo Hoai Khanh,Dien Dien Tu,8
Tran Duc Toan,14,201314638,Tran Duc Toan,Dien Dien Tu,9
Pham Tan Luan,15,210746693,Pham Tan Luan,Dien Dien Tu,10

In [ ]:
dataframe[dataframe['Diem']!=3].head(40)

,STT,MSSV,NAME,KHOA,Diem
NAME,,,,,
Lam Duy Nhat,1,19146367,Lam Duy Nhat,Co Khi Ch Tao May,10
Nguyen Tuan An,2,19146303,Nguyen Tuan An,Co Khi Ch Tao May,6
Pham Thanh Cuong,3,19146203,Pham Thanh Cuong,Co Khi Ch Tao May,7
Tran Quoc Dat,4,19146267,Tran Quoc Dat,Co Khi Ch Tao May,10
Luu Hoang Khang,5,20147380,Luu Hoang Khang,Cong Nghe Thong Tin,5
Nguyen Bao Tien,6,21370134,Nguyen Bao Tien,Cong Nghe Thong Tin,7
Tran Hoai Nam,7,20169769,Tran Hoai Nam,Cong Nghe Thong Tin,8
Luong Dinh Thong,8,19136589,Luong Dinh Thong,Cong Nghe Thong Tin,9
Trinh Van Kiet,10,21883044,Trinh Van Kiet,Cong Nghe Thong Tin,4
Nguyen Thanh Cong,11,20866441,Nguyen Thanh Cong,Dien Dien Tu,5
Nguyen Vo Trung Truc,12,20386645,Nguyen Vo Trung Truc,Dien Dien Tu,7
Vo Hoai Khanh,13,20186488,Vo Hoai Khanh,Dien Dien Tu,8
Tran Duc Toan,14,201314638,Tran Duc Toan,Dien Dien Tu,9
Pham Tan Luan,15,210746693,Pham Tan Luan,Dien Dien Tu,10
Nguyen Dinh Khoi,16,210937548,Nguyen Dinh Khoi,Xay Dung,5
Tran Trong Duc,17,193749879,Tran Trong Duc,Xay Dung,4
Quach Thanh Vu,18,210388844,Quach Thanh Vu,Xay Dung,6
Luu Nhat Thong,19,208847711,Luu Nhat Thong,Xay Dung,8
Cao Thanh Tam,20,210093774,Cao Thanh Tam,Xay Dung,9

In [ ]:
dataframe[dataframe.index !=4].head(40) # Xoá hàng số 4

,STT,MSSV,NAME,KHOA,Diem
NAME,,,,,
Lam Duy Nhat,1,19146367,Lam Duy Nhat,Co Khi Ch Tao May,10
Nguyen Tuan An,2,19146303,Nguyen Tuan An,Co Khi Ch Tao May,6
Pham Thanh Cuong,3,19146203,Pham Thanh Cuong,Co Khi Ch Tao May,7
Tran Quoc Dat,4,19146267,Tran Quoc Dat,Co Khi Ch Tao May,10
Luu Hoang Khang,5,20147380,Luu Hoang Khang,Cong Nghe Thong Tin,5
Nguyen Bao Tien,6,21370134,Nguyen Bao Tien,Cong Nghe Thong Tin,7
Tran Hoai Nam,7,20169769,Tran Hoai Nam,Cong Nghe Thong Tin,8
Luong Dinh Thong,8,19136589,Luong Dinh Thong,Cong Nghe Thong Tin,9
Phan Huy Tai,9,20368664,Phan Huy Tai,Cong Nghe Thong Tin,3
Trinh Van Kiet,10,21883044,Trinh Van Kiet,Cong Nghe Thong Tin,4
Nguyen Thanh Cong,11,20866441,Nguyen Thanh Cong,Dien Dien Tu,5
Nguyen Vo Trung Truc,12,20386645,Nguyen Vo Trung Truc,Dien Dien Tu,7
Vo Hoai Khanh,13,20186488,Vo Hoai Khanh,Dien Dien Tu,8
Tran Duc Toan,14,201314638,Tran Duc Toan,Dien Dien Tu,9
Pham Tan Luan,15,210746693,Pham Tan Luan,Dien Dien Tu,10
Nguyen Dinh Khoi,16,210937548,Nguyen Dinh Khoi,Xay Dung,5
Tran Trong Duc,17,193749879,Tran Trong Duc,Xay Dung,4
Quach Thanh Vu,18,210388844,Quach Thanh Vu,Xay Dung,6
Luu Nhat Thong,19,208847711,Luu Nhat Thong,Xay Dung,8
Cao Thanh Tam,20,210093774,Cao Thanh Tam,Xay Dung,9

In [ ]:
dataframe.drop_duplicates().head(40) #xoá những hàng trùng nhau

,STT,MSSV,NAME,KHOA,Diem
NAME,,,,,
Lam Duy Nhat,1,19146367,Lam Duy Nhat,Co Khi Ch Tao May,10
Nguyen Tuan An,2,19146303,Nguyen Tuan An,Co Khi Ch Tao May,6
Pham Thanh Cuong,3,19146203,Pham Thanh Cuong,Co Khi Ch Tao May,7
Tran Quoc Dat,4,19146267,Tran Quoc Dat,Co Khi Ch Tao May,10
Luu Hoang Khang,5,20147380,Luu Hoang Khang,Cong Nghe Thong Tin,5
Nguyen Bao Tien,6,21370134,Nguyen Bao Tien,Cong Nghe Thong Tin,7
Tran Hoai Nam,7,20169769,Tran Hoai Nam,Cong Nghe Thong Tin,8
Luong Dinh Thong,8,19136589,Luong Dinh Thong,Cong Nghe Thong Tin,9
Phan Huy Tai,9,20368664,Phan Huy Tai,Cong Nghe Thong Tin,3
Trinh Van Kiet,10,21883044,Trinh Van Kiet,Cong Nghe Thong Tin,4
Nguyen Thanh Cong,11,20866441,Nguyen Thanh Cong,Dien Dien Tu,5
Nguyen Vo Trung Truc,12,20386645,Nguyen Vo Trung Truc,Dien Dien Tu,7
Vo Hoai Khanh,13,20186488,Vo Hoai Khanh,Dien Dien Tu,8
Tran Duc Toan,14,201314638,Tran Duc Toan,Dien Dien Tu,9
Pham Tan Luan,15,210746693,Pham Tan Luan,Dien Dien Tu,10
Nguyen Dinh Khoi,16,210937548,Nguyen Dinh Khoi,Xay Dung,5
Tran Trong Duc,17,193749879,Tran Trong Duc,Xay Dung,4
Quach Thanh Vu,18,210388844,Quach Thanh Vu,Xay Dung,6
Luu Nhat Thong,19,208847711,Luu Nhat Thong,Xay Dung,8
Cao Thanh Tam,20,210093774,Cao Thanh Tam,Xay Dung,9

In [ ]:
dataframe.groupby('KHOA').count()

                     STT  MSSV  NAME  Diem
KHOA
Co Khi Ch Tao May      4     4     4     4
Cong Nghe Thong Tin    6     6     6     6
Dien Dien Tu           5     5     5     5
Xay Dung               5     5     5     5

In [ ]:
dataframe.groupby(['KHOA','Diem']).count()

                          STT  MSSV  NAME
KHOA                Diem
Co Khi Ch Tao May   6       1     1     1
                    7       1     1     1
                    10      2     2     2
Cong Nghe Thong Tin 3       1     1     1
                    4       1     1     1
                    5       1     1     1
                    7       1     1     1
                    8       1     1     1
                    9       1     1     1
Dien Dien Tu        5       1     1     1
                    7       1     1     1
                    8       1     1     1
                    9       1     1     1
                    10      1     1     1
Xay Dung            4       1     1     1
                    5       1     1     1
                    6       1     1     1
                    8       1     1     1
                    9       1     1     1

In [ ]:
dataframe.groupby('KHOA')['Diem'].count()

KHOA
Co Khi Ch Tao May      4
Cong Nghe Thong Tin    6
Dien Dien Tu           5
Xay Dung               5
Name: Diem, dtype: int64

In [ ]:
import pandas as pd
import numpy as np
time_index = pd.date_range('01/01/2023',periods=100000,freq='30s')
dataframe = pd.DataFrame(index = time_index)
dataframe['Acess_Amount'] =np.random.randint(1,10,100000)
dataframe.resample('W').sum()

In [ ]:
dataframe.resample('2W').mean()

            Acess_Amount
2023-01-01      5.089583
2023-01-15      4.988194
2023-01-29      4.982540
2023-02-12      5.011468

In [ ]:
dataframe.resample('').mean()

            Acess_Amount
2023-01-31      4.988833
2023-02-28      5.024627

In [2]:
# Tìm số lượng huy chương của 1 nước nào đó
# Tìm số huy chương vàng theo mục thi các nhân của 1 nước nào đó
import pandas as pd
import numpy as np
url = 'medals.csv'
dataframe = pd.read_csv(url)
print('Số huy chương của nước Cannada:'),dataframe[(dataframe['NOC']=='CAN')].count()

Số huy chương của nước Cannada:

(None, Year            119
 City            119
 Sport           119
 Discipline      119
 NOC             119
 Event           119
 Event gender    119
 Medal           119
 dtype: int64)

In [3]:
print('Số huy chương vàng của nước Cannada:'),dataframe[(dataframe['NOC']=='CAN')&(dataframe['Medal']=='Gold')].count()

Số huy chương vàng của nước Cannada:

(None, Year            38
 City            38
 Sport           38
 Discipline      38
 NOC             38
 Event           38
 Event gender    38
 Medal           38
 dtype: int64)